@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Logout">Logut</a>

    <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Logout">Link Text</a>

    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
